/**
 *  aboutContainer style
 */

.about_title h1{
    margin: 5% auto;
    font-size: 2.5vw;
    width: 15vw;
    background: linear-gradient(transparent 50%, #75ff8c 50%);
}

.about_container{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20vh;
    padding: 0.2em 0.5em;
    background: rgb(202, 255, 195);
    box-shadow: 0px 0px 0px 10px rgb(202, 255, 195);
    border: dashed .2rem #ffc3c3;
    border-radius: .4vw;
    z-index: -2;
}

.about_container p{
    justify-content: center;
    align-self: center;
}

.about_container p img{
    width: auto;
    height: auto;
}

.about_table{
    position: relative;
    width: 80%;
    color: rgba(68, 68, 68, 1);
    text-align: left;
}

.about_table th{
    width: 10vw;
}

.about_table th,.about_table td{
    font-size: 1.5vw;
    padding: 2vh 1.3vw;
}

/**
 *  モバイル用のレイアウト
 */

@media only screen and (max-width: 900px) {
    .about_container img {
        display: none;
     }

     .about_container h1{
        font-size: 4vw;
        margin-bottom: 1vh;
     }

     .about_table{
        width: 80%;
    }

    .about_table th, .about_table td{
        font-size: 3vw;
        line-height: 4vh;
    }

    .about_table th{
        width: 25%;
    }
}

