/**********************
 *CSS Animations by:
 *http://codepen.io/vivinantony
***********************/

.spinner7 {
  width: 15vw;
  height: 5vh;
  text-align: center;
}

.spinner7>div {
  margin-left: 1vw;
  border-radius: 10%;
  display: inline-block;
  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out;
}

.spinner7 .circ2 {
  background-color: rgba(34, 216, 195, 1);
  height: 4vh;
  width: 2vw;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner7 .circ3 {
  background-color: rgba(73, 234, 129, 1);
  height: 7vh;
  width: 2vw;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner7 .circ4 {
  background-color: rgb(150, 216, 36, 1);
  height: 10vh;
  width: 2vw;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

@-webkit-keyframes stretchdelay {
  0%,
  40%,
  100% {
    -webkit-transform: translateY(-10px)
  }
  20% {
    -webkit-transform: translateY(-20px)
  }
}

@keyframes stretchdelay {
  0%,
  40%,
  100% {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
  }
  20% {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
  }
}
