/**
 *  footer style
 */

footer{
    background-image: url("../media/imgs/footer/footer_img.jpg");
    background-size: cover;
    width: auto;
    height: 30vh;
    position: relative;
}

.footer_wrap{
    position: absolute;
    background-color: rgba(133, 133, 133, 0.8);
    height: 80%;
    right: 10%;
    bottom: 10%;
}

.footer_wrap h2{
    margin-bottom: 5%;
    font-size: 1vw;
    color: rgba(255, 255, 255, 1);
}

.footer_wrap ul li{
    float: left;
    list-style: none;
    padding: 3% 0;
    width: 15vw;
 }

.footer_wrap ul li a{
    font-size: 1rem;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.copyright{
    background-color: rgba(20, 20, 20, 1);
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
}

.copyright p{
    color: rgba(206, 206, 206 ,1);
    font-size: .7vw;
}
