/**
 *  header style
 */

.h_logo{
    width: auto;
    height: 100%;
    text-align:left;
 }

 .h_img{
    margin: 0 3vw;;
 }

.side_bar{
    display: inline-block;
    vertical-align: middle;
}
nav{
    width: auto;
    height: 100%;
    text-align:left;
}

.h_box{
    text-align:left;
    background: rgb(189, 189, 189);
    width: auto;

}

.side_bar nav ul li{
    font-size: 1em;
    padding: 1em 6em;
    float:left;
    border-right: 1px solid #DDD;
}

.side_bar nav ul li a{
    text-decoration: none;
    color: #333;
}

.side_bar nav ul li a span{
    display: block;
    margin: 3px 0 0 0;
    text-align: center;
    letter-spacing: 1px;
}

.side_bar nav li a:hover {
    background: #3434EE;
}

.side_bar2 nav li.active a {
    background: #333;
    color: #EEE;
}
