/**
 *  header style
 */

.top_logo{
    width: 20vw;
    height: 100%;
    text-align: left;
 }

.top_bar{
    display: inline-block;
    vertical-align: middle;
}

nav{
    width: auto;
    height: 100%;
    text-align: right;
}

.h_box{
    background: #922121;
}

.top_bar nav ul li{
    font-size: 1rem;
    padding: 1vh 5vw;
    float: left;
    border-right: 1px solid #383838;
}

.top_bar span{
    display: block;
    margin-top: 0.8vh;
    text-align: center;
    letter-spacing: .1rem;
    color: #1a1a1a;
}

/* transition …… transition効果（時間的変化）をまとめて指定する */
.top_bar li:hover{
    color: #383838;
    background: #c4c4c4;
    transition: all .8s;
}
