/**
 *  header style
 */

.h_logo{
    width: auto;
    height: 100%;
    text-align:left;
 }

 .h_img{
    margin: 0 3vw;;
 }

.side_bar{
    display: inline-block;
    vertical-align: middle;
}

nav{
    width: auto;
    height: 100%;
    text-align: left;
}

.h_box{
    text-align: left;
    background: rgb(224, 223, 223);
    width: auto;
}

.side_bar nav ul li{
    font-size: 1em;
    padding: 1em 6em;
    float: left;
    border-right: 1px solid rgb(122, 122, 122);
}

.side_bar span{
    display: block;
    margin: 3px 0 0 0;
    text-align: center;
    letter-spacing: 1px;
    color: #1a1a1a;
}

.side_bar li:hover{
    color: #383838;
    background:#c4c4c4;
    transition: all .8s;    /*transition …… transition効果（時間的変化）をまとめて指定する
}
