/**
 *  layout style
 */

#site_box{
    margin: 0 10vw;
}

header{
    position: fixed;
    width: 100vw;
    height: 10vh;
<<<<<<< HEAD
    background-color: rgb(231, 231, 231);
=======
    background-color: #E6E6E6;
>>>>>>> 503cb1d0e4c79995e6cf6eb0174e3c42ee15522d
}

.image_slider{
    padding-top: 10vh;
    width: 100%;
}

.l_r_container{
    height: 30vh;
}

.left_container{
    float: left;
}

.right_container{
    float: right;
}

.layout_margin_b{
    margin-bottom: 2vh;
}

.size_container{
    width: 45%;
}
