/**
 *  layout style
 */

#site_box{
    margin: 0 10vw;
}

header{
    position: fixed;
    width: 100vw;
    height: 10vh;
    background-color: #c9c9c9
}

#image_box{
    padding-top: 10vh;
    width: 100%;
}
#l_r_container{
    height: 30vh;
}

#left_container{
    float: left;
}

#right_container{
    float: right;
}

.bottom_lyaout{
    margin-bottom: 2vh;
}

.size_container{
    width: 45%;
}
