/**
 *  layout style
 */

#site_box {
    margin: 20vh 20vw 0vh 20vw;
    width: 60vw;
}

header{
    position: fixed; /* 固定 */
    background-color: #575355; /* 削除対象 */
    width: 100vw;
}

#l_r_container{
    height: 30vh;
}

#left_container{
    float: left;
}

#right_container{
    float: right;
}

.bottom_lyaout{
    margin-bottom: 2vh;
}

.size_container{
    width: 45%;
}
