/**
*  logo style
*/
.logo_wrap{
    width: 15%;
    height: 100%;
    float: left;
}

.logo_wrap img{
    height: 100%;
    width: auto;
}

/**
* モバイル用
*/
@media screen and (max-width: 750px) {
.logo_wrap{
    width: 55%;
    height: 70%;
    float: left;
    }
}
