/**
 * import css files
 */

 .inner{
     width: 100vw;
     margin: 0 auto;
     position: relative;
 }

 /*.inner:after{
     clear:both;
     display: block
 } */
 
 /* header */
header a{
    color: rgba(104, 0, 0, 0.993);
    text-decoration: none;
}

.logo{
    float: left;
    font-size: 2vw;
}
