/**
 * nav css files
 */

.inner{
     width: 100vw;
     margin: 0 auto;
     position: relative;
     display: table-cell;
 }
/* menu bar の　配置　*/
nav ul{
    right: 0;
    bottom: 0;
    font-size: 1vw;
}

nav ul li {
    float: left;
    vertical-align: middle;
}

nav ul li a {
    padding: 0 2vw;
}

