/**
 *  question style
 */

.content_question{
    width: 60vw;
    margin: 0 auto;
    color: rgb(36, 36, 36);
}

.content_question h2{
    text-align: left;
    font-size: 1.5vw;
}

.content_question p{
    width: 70vw;
    text-align: left;
    margin-left: 1vw;
    font-size: 1.2vw;
    margin: 5vh 4vw;
}

.content_question ul{
    list-style: none;
}
