/**
 *  bxslider custom style
 */

.img_size{
    width: 100%;
    height: 100%;
}

/* スライドの枠の削除 */
.bx-wrapper {
    margin: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
  }
