/**
 *  image slider style
 */

 .slider_content{
    position: relative;
}

.design_table,tr,td{
    border: .2rem rgba(214, 214, 214 ,1) solid;;
    padding: 2.5% 0;
    font-size: 2.5vw;
    width: 60vw;
    text-align: center;
    vertical-align: middle;
 }

  /* top_image テキストのframe */
.tips{
    color: rgba(255, 255, 255 ,1);
    background-color: rgba(66, 66, 66, .8);
    padding: 2% 3%;
    text-align: left;
    z-index: 1;
}

/* 1 2 3 4枚目の画像に適応してます*/
.slider_tips_absolute{
    position: absolute;
    bottom: 7%;
    left: 3%;
    z-index: 1;
}

.tips h1{
    font-size: 2vw;
    line-height: 1.231;
}

.tips p{
    font-size: 1.5vw;
    line-height: 1.5;
}

.tips_solicit p{
    font-size: 2.2vw;
    padding: .8%;
}

.program_lang_icon i{
    font-size: 10vw;
    padding: 0 1%;
}

.tips_title{
    width: fit-content;
    margin-bottom: 5%;
}

.tips_title p{
    font-size: 3vw;
}

.design_table td a{
    background-color: rgba(94, 245, 114, .5);
    padding: 0 20%;
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
    /* 角の丸み */
    border-radius: 15vw;
    /* Safari,Google Chrome用 */  
    -webkit-border-radius: 15vw;      
    /* Firefox用 */
    -moz-border-radius: 15vw;
    /* oper用 */
    -o-border-radius: 15vw;
    /* IE用 */
    -ms-border-radius: 1em;
}

.tips_table_wrap{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 66, 66, .8);
    padding: 2% 3%;
    text-align: center;
    width: 60vw;
}

/*****************************************
             bxslider customize style
 *****************************************/

/* スライドの枠の削除 */
.bx-wrapper{
    margin: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
  }


/*****************************************
        bender prefix style
*****************************************/

.fit_content{
    width: -moz-fit-content !important;
    width: -webkit-fit-content !important;
    width: -o-fit-content !important;
    width: -ms-fit-content !important;
}
