/**
 *  image slider style
 */

 .slider_image_content{
    position: relative;
}

/* 画像スライダー内のテキストフレーム */
.tips{
    color: rgba(255, 255, 255 ,1);
    background-color: rgba(66, 66, 66, .8);
    padding: 2% 3%;
    text-align: left;
    z-index: 1;
}

.slider_tips_absolute{
    position: absolute;
    bottom: 7%;
    left: 3%;
    z-index: 1;
}

.tips h1{
    font-size: 2vw;
    line-height: 1.231;
}

.tips p{
    font-size: 1.5vw;
    line-height: 1.5;
}

.tips_solicit{
    max-width: 70vw;
    max-height: 30vh;
}

.tips_solicit p{
    font-size: 1.5vw;
    padding: .5%;
}

.program_lang_icon i{
    font-size: 10vw;
    padding: 0 1%;
}

.tips_title{
    width: fit-content;
    margin-bottom: 5%;
}

.tips_title p{
    font-size: 3vw;
}

.tips_table_wrap{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(66, 66, 66, .8);
    padding: 2% 2%;
    text-align: center;
    width: 60vw;
}

.tips_table{
    width: 60vw;
}

.tips_table,.tips_table tr,.tips_table td{
    border: .1em rgba(214, 214, 214 ,1) solid;
    font-size: 2.5vw;
    padding: 2%;
    text-align: center;
    vertical-align: middle;
 }

.tips_table td a{
    background-color: rgba(94, 245, 114, .5);
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
    padding: 0 10%;
    /* 角の丸み */
    border-radius: 15vw;  
    -webkit-border-radius: 15vw;      
    -moz-border-radius: 15vw;
    -o-border-radius: 15vw;
    -ms-border-radius: 15vw;
}

/*****************************************
             bxslider customize style
 *****************************************/

/* スライドの枠の削除 */
.bx-wrapper{
    margin: 0 !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    background: none !important;
  }
